html {
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #828282;
}
.menu-link{
    font-size: 18px;
    text-decoration: none;
    color: #828282;
    font-family: 'Khula', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}
.menu-link:hover{
    color: #070707;
}